body{
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.container-fluid{
    height: 97vh;
    
}
.row{
    
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #520665;
    --bs-btn-border-color: #520665;
    --bs-btn-hover-bg: black;
    --bs-btn-active-bg: black;  
    --bs-btn-hover-border-color: none;
} 
.modal-header h2{
    color: #520665;
}   
.modal-header{
    border-bottom: none;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-1{
    height: 510px;
    width: 600px;
    background-color: rgb(222, 193, 234);
    border-radius: 10px;
}
.head-1{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.head-1 h2{
    font-weight: 900;
}
.head-1 h3{
    font-weight: 500;
}
.modal-input{
    height: 300px;
    /* background-color: #b67cc5; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.form-control{
    border: 1px solid black;
}
.info-1{
    display: none;
}
.info-2{
    display: none;
}
.info-3{
    display: none;
}
.info-4{
    display: none;
}
.selection{
    background-color: #fff;
    color: black;
    font-weight: 550;

}
.selection:hover{
    background-color: #fff;
}
.info-2 .modal-input{
    margin-top: 0px;
} 