<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobDetails</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/jobSection/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap" 
        rel="stylesheet">
    <style>
        label{
            background-color: #fff;
            display: inline-block;
        }

      
    </style>    
   
    

</head>
<body>
    <div class="container">
        <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><span style="color:#520665">Login</span></button>
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--slidin modal-->            
                        <div id="slider">
                            <input type="radio" name="slider" id="slide1" checked>
                            <input type="radio" name="slider" id="slide2">
                            <input type="radio" name="slider" id="slide3">
                            <input type="radio" name="slider" id="slide4">
                            
                            <div id="slides">
                                <div id="overflow">
                                    <div class="inner">
                                        <div class="slide slide_1">
                                            <div class="slide-content">
                                                <div class="head">
                                                    
                                                    <h2 style="font-weight: 700;">Can we know about your job status?<br></h2>
                                                    
                                                </div>
                                                <div class="modal-input">
                                                    <form>
                                                        <div class="mb-3 form-check">
                                                            <input type="checkbox" class="form-check-input" id="employer">
                                                            <label class="form-check-label" for="employer">Employer</label>
                                                        </div>
                                                        <div class="mb-3 form-check">
                                                            <input type="checkbox" class="form-check-input" id="employee">
                                                            <label class="form-check-label" for="employee">Employee</label>
                                                        </div>
                                                        <div class="mb-3 form-check">
                                                            <input type="checkbox" class="form-check-input" id="jobseeker">
                                                            <label class="form-check-label" for="jobseeker">Job seeker</label>
                                                        </div>
                                                        <div class="d-grid gap-2 col-12 mx-auto" style="padding-top: 0px;">
                                                            <button class="btn btn-primary" type="button">Next</button>
                                                            
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide slide_2">
                                            <div class="slide-content">
                                                <div class="head">
                                                    <h2 style="font-weight: 700;">Job Details</h2>
                                                </div>
                                                <div class="modal-input">
                                                    <form>
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" id="companyname" aria-describedby="emailHelp">
                                                            <label for="companyname" class="form-label" style="left: -84px;">Company Name</label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" id="companyname" aria-describedby="emailHelp">
                                                            <label for="companyname" class="form-label" style="left: -100px;" >Designation</label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" id="companyname" aria-describedby="emailHelp">
                                                            <label for="companyname" class="form-label near">Location</label>
                                                        </div>

                                                        <div class="d-grid gap-2 col-12 mx-auto" style="padding-top: 0px;">
                                                            <button class="btn btn-primary" type="button">Next</button>
                                                            
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide slide_3">
                                            <div class="slide-content">
                                                <div class="head">
                                                    <h2 style="font-weight: 700;">Job Details</h2>
                                                </div>
                                                <div class="modal-input">
                                                    <form>
                                                        <div class="mb-3">
                                                            <input type="text" class="form-control" id="companyname" aria-describedby="emailHelp">
                                                            <label for="companyname" class="form-label near">Title</label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="companyname" class="form-label expert">Expertise level</label>
                                                            <select class="form-select" id="expert">
                                                                <option value="choose">choose expertise level...</option>
                                                                <option value="beginner">Beginner</option>
                                                                <option value="intermediate">Intermediate</option>
                                                                <option value="expert">Expert</option>
                                                            </select>
                                                        </div>
                                                        

                                                        <div class="d-grid gap-2 col-12 mx-auto" style="padding-top: 0px;">
                                                            <button class="btn btn-primary" type="button">Next</button>
                                                            
                                                        </div>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="slide slide_4">
                                            <div class="slide-content">
                                                <div class="head">
                                                    <h2 style="font-weight: 700;">What about your Relationship Goals!</h2>
                                                </div>
                                                <div class="modal-input">
                                                    <form>
                                                        <div class="mb-3 form-check">
                                                            <input type="checkbox" class="form-check-input" id="short">
                                                            <label class="form-check-label" for="employer">Short Term Relationship</label>
                                                        </div>
                                                        <div class="mb-3 form-check">
                                                            <input type="checkbox" class="form-check-input" id="long">
                                                            <label class="form-check-label" for="employee">Long Term Relationship</label>
                                                        </div>
                                                        
                                                        <div class="d-grid gap-2 col-12 mx-auto" style="padding-top: 0px;">
                                                            <button class="btn btn-primary" type="button">Next</button>
                                                            
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div id="controls">
                                <label for="slide1"></label>
                                <label for="slide2"></label>
                                <label for="slide3"></label>
                                <label for="slide4"></label>
                                
                            </div>
                            <div id="bullets">
                                <label for="slide1"></label>
                                <label for="slide2"></label>
                                <label for="slide3"></label>
                                <label for="slide4"></label>
                                
                            </div>

                        </div>
                        <!--slidin modal--> 
                        
                       
                       
                        
                    </div>
                    
                      
                      
                    <!-- <div class="modal-footer">
                        
                    </div> -->
                    
                </div>
            </div>
        </div>
    </div>



    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/648d5aac71.js" crossorigin="anonymous"></script>
    
    
    
</body>
</html>